---
import Layout from '@layouts/Layout.astro';
import Cursor from '@components/Cursor.astro';
import Nav from '@components/Nav.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Skills from '@components/Skills.astro';
import Projects from '@components/Projects.astro';
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
  <Cursor />
  <div class="grid-bg"></div>

  <Nav />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
